asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==5.0
django-cors-headers==4.3.1
django-pwa==1.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
flake8==6.1.0
gunicorn==21.2.0
idna==3.6
mccabe==0.7.0
packaging==23.2
psycopg2-binary==2.9.9
pycodestyle==2.11.1
PyJWT==2.8.0
python-dotenv==1.0.0
pytz==2023.3.post1
setuptools==68.0.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.1.0
wheel==0.41.2
